# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\BD0468\source\repos\MMA-KY\Account codebase based on best match to current usage at 15-11-2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]
csharp_new_line_before_open_brace=none
insert_final_newline=true
csharp_new_line_before_else=false
csharp_new_line_before_catch=false
csharp_new_line_before_finally=false


[*.{cs,vb}]
indent_style=tab